# Node.js
node_modules/
package-lock.json

# TypeScript 빌드 결과물
dist/

# 환경 변수
.env

# 로그 파일 & OS 캐시
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# VSCode
.vscode/

# TypeScript 컴파일 정보
*.tsbuildinfo

/src/generated/prisma
